html*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 100%;
  height: 91vh;
  border-top-style: solid; 
  border-width: 6px; 
  border-color: rgb(26, 14, 3);
  background: url(../src/assets/images/santorini10.jpg);
  background-size: 120%;
  animation: movimiento 25s infinite linear alternate;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
}
.main a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
  font-size: 1.2rem;
  text-shadow: 0.03em 0.03em rgb(10, 10, 10)
}
#down, #up, #up2 {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0.03em 0.03em rgb(10, 10, 10)
}
.container_up {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}
#up {
  margin-left: 2rem;
}
#up2{
  margin-right: 2rem;
}
.container {
  border-style: solid; 
  border-width: 2px; 
  border-color: rgb(245, 124, 10);
  border-radius: 3rem;
  background-image: linear-gradient(165deg, transparent 1%, rgba(248, 245, 245, 0.041) 5%, rgba(255, 255, 255, .6) 100%, transparent 100%);
}
.container:hover {
  border-style: solid; 
  border-width: 2px; 
  border-color: rgb(245, 124, 10);
  border-radius: 3rem;
  background-image: linear-gradient(165deg, transparent 1%, rgba(248, 245, 245, 0.445) 5%, rgba(255, 255, 255, 0.65) 100%, transparent 100%);
}
.container h1 {
  text-align: center;
  color: rgba(2, 2, 2, 0.986);
  font-size: 3.9rem;
  text-shadow: 0.03em 0.03em rgb(243, 236, 236)
}
.container h2 {
  text-align: center;
  color: rgb(248, 119, 33);
  font-size: 2.3rem;
  text-shadow: 0.06em 0.06em rgb(5, 5, 5)
}
#navbarScroll {
  position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.callAction {
  background-image:linear-gradient(165deg, transparent 1%, rgba(248, 245, 245, 0.445) 5%, rgba(211, 241, 102, 0.609) 100%, transparent 100%), url(../src/assets/images/santorini2.jpg);
  height: 58rem;
  padding-top: 10rem;
}
.div_carrusel {
  text-align: center;
  align-items: center;
  height: 38rem;
  background-image:linear-gradient(165deg, transparent 1%, rgba(248, 245, 245, 0.445) 5%, rgba(244, 245, 240, 0.719) 100%, transparent 100%), url(./assets/images/santorini2.jpg);
}
.div_carrusel h1 {
  padding-top: 2rem;
}
#navbar {
  height: 95px;
}
#dropdown-basic {
  background-color: #0D6EFD;
  /* height: 10vh; */
}
#img_usuario {
  margin-top: -20px;
  margin-right: 1rem;
  animation: animName 18s linear infinite;
  margin:5px;
}
.divCarrusel {
  height: 50rem;
}
#navLink {
  color: white;
  text-decoration: none;
}
#navLink2 {
  color: aliceblue;
  margin-left: 4rem;
  text-decoration: none;
}
.divContainer {
  margin-left: 0.8rem;
  width: 100%;
  height: 50vh;
}
@keyframes animName {
 0%{
    transform: rotateY(360deg);
   }
100%{
    transform: rotateY(0deg);
   }
}
.row {
  padding-left: 1rem;
  height: 13rem;
}
.row h2 {
  margin-top: -8vh;
  margin-left: .5rem;
  color: rgba(244, 246, 247, 0.849);
  font-size: 2rem;
  text-shadow: 0.06em 0.06em rgb(5, 5, 5)
}
.transition {
  transition: transform 8s;
  margin: 5px auto 0;
}
.test:active .transition{
    transform: scale(2.3);
    width: 10%;
    height: 15rem;
    position: relative;
    z-index: 90;
}
.test:hover transition{
  background-color: brown;
}
.click {
  width: 152px;
  height: 152px;
  position: absolute;
}
.container_mapa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.mapa {
   height: 500px;
   width: 500px;
   background: url(./assets/images/mapamundi3.jpg);
   background-size: cover;
   text-align: center;   
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   box-shadow: -50px -50px 0 0 rgba(0,0,0,.1) inset,
                -90px -70px 0 0 rgba(0,0,0,.1) inset,
                5px 5px 0 0 rgba(255,255,255,.2)inset;
  animation: tierra-girando 15s infinite linear;
 }
 @keyframes tierra-girando {
   from {
      background-position: left center;
   }
   to {
    background-position: -1009px center;
   }
}
.img_click {
  border-radius: 50%;
}
.img_click:hover {
 content: url('./assets//images/click2.jpeg');
}
.call_a, .call_b {
  color: orangered;
  text-align: center;
}
.container_footer {
  height: 40vh;
}

/* Botones flecha de sliders */
.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
}
@media only screen and (min-device-width : 992px) and (max-device-width : 1024px) {
  .mapa{
    height: 400;
    width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .main{
    background-size: 520%;
  }  
  .mapa{
    height: 350px;
    width: 350px;
  } 
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .main{
    background-size: 720%;
  } 
  .mapa{
    height: 250px;
    width: 350px;
  } 
}
@media (max-width: 575.98px) {
  .main{
    background-size: 920%;
  } 
  #mytinerary {
    font-size: 40px;
  } 
}
@media (max-width: 575.98px) {
  .mapa {
    /* display: none; */
    width: 0;
    height: 0;
    margin-top: 10rem;
    margin-right: 4rem;
  }
    .callAction {
    background:linear-gradient(165deg, transparent 1%, rgba(248, 245, 245, 0.445) 5%, rgba(245, 60, 4, 0.609) 100%, transparent 100%);
    height: 52rem;
    /* text-align: center; */
    padding-top: 10rem;
    padding-left: 0;
  }
  #logo {
    display: none;
  }
  #navLink2 {
    margin-left: 0;
    padding-left: 1rem;
  }
  .navMenu {
    margin-left: 6rem;
  }
  .main {
    border-color: #0D6EFD;
  }
  .call_b {
    display: none;
  }
  .call_a h1 {
    margin-left: 5rem;
  }
}
.container_footer {
  background-color: rgb(177, 179, 179);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.div_izq{
  /* background-color: red; */
  height: 15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.div_cen {
  /* background-color: aqua; */
  height: 15rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.div_cen h2 {
  color: orangered;
}
.div_der {
  /* background-color: green; */
  height: 15rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
#navLinkFooter {
  color: white;
  padding-right: 5rem;
}
.div_copy {
  background-color: rgb(139, 136, 131);
  /* height: 5rem; */
  text-align: center;
  color: white;
  padding-top: 1rem;
  margin-bottom: -1.9rem;
}
.insta {
  background: url(./assets/images/insta1.png);
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  margin-right: 1rem;
}
.twiter {
  background: url(./assets/images/twiter.jpg);
  width: 50px;
  height: 50px;
  border-radius: 2rem;
  margin-right: 1rem;
}
.face {
  background: url(./assets/images/face.png);
  width: 55px;
  height: 55px;
  border-radius: 1rem;
  margin-right: 1rem;
}
.watsaap {
  background: url(./assets/images/whatsapp.png);
  width: 55px;
  height: 55px;
  border-radius: 2rem;
  margin-right: 1rem;
}
.container_cities {
  width: 100%;
  height: 89.7vh;
  background: url(./assets/images/suiza.jpg) no-repeat fixed center;
  background-size: cover; 
  text-align: center;
}
.container_cities h1 {
  color: white;
  padding-top: 5rem;
}

